#left_content
  = render 'left'
#right_content
  %h1
    Showing Grade
    = link_to image_tag('/assets/edit.png',:title => "Edit Designation"), edit_grade_path(@grade)
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td.std_td
              %table
                %tr
                  %td Grade:&nbsp;
                  %td= @grade.grade