#left_content
  %ul
    %li= link_to 'Back', hr_category_details_path(:param1=>@hr_category_id)
#right_content
  %h1
    Editing #{HrCategory.find_by_id(@hr_category_id).category_name}'s Label
  = render 'form'
