#left_content
  = render 'left'
#right_content
  %h1
    Editing HR Category Details for #{HrCategory.find_by_id(@hr_category_id).category_name}
    = link_to image_tag('/assets/show.png',:title => "Show HR Category Detail"),@hr_category_detail
  = render 'form'
