:css
  .heading {
      font-size: 25px; font-weight: bold; text-align: center; line-height: 40px;
  }

%table{:width=>1500, :cellpadding => 0, :cellspacing => 0}
  %tr
    %td.heading
      %b  Ref No
    %td.heading
      %b Employee Name
    %td.heading
      %b Father's Name
    %td.heading
      %b Marital Status
    %td.heading
      %b  Spouse Name
    %td.heading
      %b Gender
    %td.heading
      %b Date of Birth
    %td.heading
      %b Date of Joining
    %td.heading
      %b Date of Leaving
    %td.heading
      %b Residence No
    %td.heading
      %b Name of the Residence
    %td.heading
      %b Street
    %td.heading
      %b Locality
    %td.heading
      %b City
    %td.heading
      %b State
    %td.heading
      %b Email
    %td.heading
      %b Mobile
    %td.heading
      %b Designation
    %td.heading
      %b Department
    %td.heading
      %b Grade
    %td.heading
      %b Branch
    %td.heading
      %b Bank Account No
    %td.heading
      %b Bank Name
    %td.heading
      %b Sal Structure
    %td.heading
      %b Attendance
    %td.heading
      %b Salary Calculate From
    %td.heading
      %b Reason for leaving