:css
  .heading {
      font-size: 25px; font-weight: bold; text-align: center; line-height: 40px;
  }

%table{:width=>1500, :cellpadding => 0, :cellspacing => 0}
  %tr
    %td.heading
      %b  Ref No
    %td.heading
      %b Employee Name
    %td.heading
      %b Father's Name
    %td.heading
      %b Marital Status
    %td.heading
      %b  Spouse Name
    %td.heading
      %b Gender
    %td.heading
      %b Date of Birth
    %td.heading
      %b Date of Joining
    %td.heading
      %b Date of Leaving
    %td.heading
      %b Residence No
    %td.heading
      %b Name of the Residence
    %td.heading
      %b Street
    %td.heading
      %b Locality
    %td.heading
      %b City
    %td.heading
      %b State
    %td.heading
      %b Permanent Address as Present
    %td.heading
      %b Permanent Residence No
    %td.heading
      %b Permanent Residence Name
    %td.heading
      %b Permanent Street
    %td.heading
      %b Permanent Locality
    %td.heading
      %b Permanent City
    %td.heading
      %b Permanent State
    %td.heading
      %b Email
    %td.heading
      %b Mobile
    %td.heading
      %b Restrict PF
    %td.heading
      %b Probation Period
    %td.heading
      %b Probation Complete Date
    %td.heading
      %b Confirmation Date
    %td.heading
      %b Salary Start Date
    %td.heading
      %b Retirement Date
    %td.heading
      %b Handicapped
    %td.heading
      %b Emergency Contact Number
    %td.heading
      %b Official eMail ID
    %td.heading
      %b Leaving Reason