-#@search_path=employees_path
#left_content
  = render 'left'
#right_content
  %h1 Listing Employees
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td &nbsp;
    %tr
      %td.std_td
        = render 'search'
    %tr
      %td.std_td
        %div{:id => "employees"}
          =render 'employees'
    %tr
      %td &nbsp;

