%ul
  %li= link_to 'Listing ESI groups', esi_groups_path
  %li= link_to 'Listing ESI Group Rates', esi_group_rates_path(:params1 => @param_esi_group_id)
  %li= link_to 'Add New ESI Group Rates', new_esi_group_rate_path(:params1 => @param_esi_group_id)