:css
  .heading {
      font-size: 25px; font-weight: bold; text-align: center; line-height: 40px;
  }

%table{:width=>500, :cellpadding => 0, :cellspacing => 0}
  %tr
    %td.heading
      %b Ref No
    %td.heading
      %b Pay Month
    %td.heading
      %b Leave Days
    %td.heading
      %b Leave From Date
    %td.heading
      %b Leave To Date
    %td.heading
      %b LOP Days
    %td.heading
      %b LOP From Date
    %td.heading
      %b LOP To Date