%ul
  %li Left Content
  %li= link_to "Theoretical Salary Upload", upload_salary_allotments_path
  %li= link_to "Generate Sample Template", generate_sample_excel_template_salary_allotments_path(:format => "xls")