%tr
  %td{:width=>130} Country:&nbsp;
  %td= select_tag "option_setting[country_id]", options_for_select(Country.all.collect {|con| [ con.name, con.id ] },@option_setting.country_id), {:prompt => 'Select Country'}