<h1>Listing company_documents</h1>

<table>
  <tr>
    <th>Remarks</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_documents.each do |company_document| %>
  <tr>
    <td><%= company_document.remarks %></td>
    <td><%= company_document.company_id %></td>
    <td><%= link_to 'Show', company_document %></td>
    <td><%= link_to 'Edit', edit_company_document_path(company_document) %></td>
    <td><%= link_to 'Destroy', company_document, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company document', new_company_document_path %>
