<p id="notice"><%= notice %></p>

<p>
  <b>Remarks:</b>
  <%= @company_document.remarks %>
</p>

<p>
  <b>Company:</b>
  <%= @company_document.company_id %>
</p>


<%= link_to 'Edit', edit_company_document_path(@company_document) %> |
<%= link_to 'Back', company_documents_path %>
