<h1>Listing pt_group_rates</h1>

<table>
  <tr>
    <th>Pt group</th>
    <th>Paymonth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pt_group_rates.each do |pt_group_rate| %>
  <tr>
    <td><%= pt_group_rate.pt_group %></td>
    <td><%= pt_group_rate.paymonth %></td>
    <td><%= link_to 'Show', pt_group_rate %></td>
    <td><%= link_to 'Edit', edit_pt_group_rate_path(pt_group_rate) %></td>
    <td><%= link_to 'Destroy', pt_group_rate, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pt group rate', new_pt_group_rate_path %>
