%p
  %b Salary Group Name:
  = @salary_group.salary_group_name
%p
  %b Based on Gross:
  = @salary_group.based_on_gross
= link_to 'Edit', edit_salary_group_path(@salary_group)
|
\#{link_to 'Back', salary_groups_path}