#left_content
  = render 'left'
#right_content
  %h1
    Showing Salary Group
    = link_to image_tag('/assets/edit.png',:title => "Edit Salary Group"), edit_salary_group_path(@salary_group)
  %table.std_table{:cellpadding=>0,:cellspacing=>0}
    %tr
      %td
        %table
          %tr
            %td
              %table
                %tr
                  %td{:width=>180} Salary Group Name:&nbsp;
                  %td= @salary_group.salary_group_name
                %tr
                  %td Based on Gross:&nbsp;
                  %td= @salary_group.based_on_gross