%ul
  %li= link_to 'Listing PF groups', pf_groups_path
  %li= link_to 'Listing PF Group Rates', pf_group_rates_path(:params1 => @param_pf_group_id)
  %li= link_to 'Add New PF Group Rates', new_pf_group_rate_path(:params1 => @param_pf_group_id)