#left_content
  %ul
    %li= link_to 'Back', pf_group_rates_path(:params1 => @param_pf_group_id)
#right_content
  %h1
    Editing PF Group Rate
  = render 'form', :pf_group_rate => @pf_group_rate, :param_pf_group_id => @param_pf_group_id, :month_name => @month_name
