#left_content
  %ul
    %li= link_to 'Back', paymonths_path
#right_content
  %h1
    Editing Pay Month
    = link_to image_tag('/assets/show.png',:title => "Show Pay Month"), @paymonth
  = render 'form', :paymonth => @paymonth