%ul
  %li= link_to 'Listing Employee Details', employee_details_path(:param1=>@paramempid)
  %li= link_to 'Add New Employee Details', new_employee_detail_path(:param1 => @paramempid)
  %li= link_to 'Listing Employees', employees_path