%ul
  %li= link_to 'Listing Leaves', leave_details_path
  %li= link_to 'Excel Upload', upload_leave_details_path
  %li= link_to "Generate Sample Template", generate_sample_excel_template_leave_details_path(:format => "xls")