=link_to 'Home', root_url
|
=link_to 'Excel upload', upload_leave_details_path
%h1 Listing Leaves
%table{:cellpadding => 0, :cellspacing => 0, :border => 1}
  %tr
    %th Employee Id
    %th Employee Name
    %th Leave date
  - @leave_details.each do |leave|
    %tr
      %td= leave.employee_id
      %td= Employee.find(leave.employee_id).empname
      %td= leave.leave_date