%ul
  %li= link_to 'Listing HR Category Details', hr_category_details_path(:param1=>@hr_category_id)
  -#%li= link_to 'Add New HR Category Details', new_hr_category_detail_path(:param1=>@hr_category_id)
  %li= link_to 'Listing Hr Categories', hr_categories_path
  %li= link_to 'Employee', employee_path(:id => @employee_id)