<h1>Listing hr_masters</h1>

<table>
  <tr>
    <th>Hr category</th>
    <th>Hr category detail</th>
    <th>Employee</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hr_masters.each do |hr_master| %>
  <tr>
    <td><%= hr_master.hr_category %></td>
    <td><%= hr_master.hr_category_detail %></td>
    <td><%= hr_master.employee %></td>
    <td><%= hr_master.value %></td>
    <td><%= link_to 'Show', hr_master %></td>
    <td><%= link_to 'Edit', edit_hr_master_path(hr_master) %></td>
    <td><%= link_to 'Destroy', hr_master, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hr master', new_hr_master_path %>
