<p id="notice"><%= notice %></p>

<p>
  <b>Hr category:</b>
  <%= @hr_master.hr_category %>
</p>

<p>
  <b>Hr category detail:</b>
  <%= @hr_master.hr_category_detail %>
</p>

<p>
  <b>Employee:</b>
  <%= @hr_master.employee %>
</p>

<p>
  <b>Value:</b>
  <%= @hr_master.value %>
</p>


<%= link_to 'Edit', edit_hr_master_path(@hr_master) %> |
<%= link_to 'Back', hr_masters_path %>
