#left_content
  %ul
    %li= link_to 'Back', financial_institutions_path
#right_content
  %h1
    Editing Financial Institution (Bank)
  = render 'form', :financial_institution => @financial_institution