%ul
  %li= link_to 'Listing Salary Group Conf.', salary_group_details_path(:param1=>@param_sal_grp_id)
  %li= link_to 'Add New Salary Group Conf.', new_salary_group_detail_path(:param1=>@param_sal_grp_id)
  %li= link_to 'Listing Salary Group', salary_groups_path