= form_tag 'group_details', :id => 'group_details', :method => "post" do
  %td{:width=>130} Salary Head:&nbsp;
  %td= select_tag "salary_head_n_grp_ids", options_for_select(SalaryHead.where('id != 2 and id != 3').order('created_at ASC').collect {|sal_hd| [ sal_hd.head_name, "#{sal_hd.id}-#{params[:param1]}" ]}), :prompt => "Select Salary Head"