#left_content
  %ul
    %li= link_to 'Back', salary_group_details_path(:param1=>@param_sal_grp_id)
#right_content
  %h1 New #{SalaryGroup.find_by_id(@param_sal_grp_id).salary_group_name}'s Configuration
  = render 'form', :salary_group_detail => @salary_group_detail, :param_sal_grp_id => @param_sal_grp_id
