#left_content
  %ul
    %li= link_to 'Back', salary_group_details_path(:param1=>@param_sal_grp_id)
#right_content
  %h1{:style=>"width:500px;"} New #{SalaryGroup.find_by_id(@param_sal_grp_id).salary_group_name}'s Configuration
  = render 'form'
